version: '3.8'

services:
  backend-test:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
      - MODE=local
    command: pytest -v
